{
  "extends": "airbnb-base",
  "rules": {
    "no-plusplus":"off",
    "no-console":"off",
    "no-param-reassign":"off",
    "no-await-in-loop":"off",
    "no-unused-expressions":["error", {"allowTernary": true}]
  }
}
